<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Id</th>
                <th>Actions</th>

            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let employee of employees">
                <td> {{employee.firstName}} </td>
                <td> {{employee.lastName}} </td>
                <td> {{employee.emailId}} </td>
                <td>
                    <div class="btn">
                        <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>
                    </div>
                    <div class="btn">
                        <button (click)="deleteEmployee(employee.id)" class="btn btn-danger"> Delete</button>
                    </div>
                    <div class="btn"> 
                    <button (click)="employeeDetails(employee.id)" class="btn btn-info"> View</button>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>


</body>

</html>